<h1>❤️ Unofficial Eurovision Song Contest API ❤️</h1>

<section>
  <p>
    This site is a freely accessible API that contains information about the participants and votes of all editions 
    of the Eurovision Song Contest and Junior Eurovision Song Contest.
  </p>
  <p>
    Every year the service will be updated with the results of the contest, from the first edition in 1956 to the
    present.
    For Junior Eurovision, the first edition was in 2003.
  </p>
  <p>
    The data is obtained from this <a href="https://github.com/EurovisionAPI/dataset">dataset</a>.
  </p>
  <p>
    You can find the Github repository <a href="https://github.com/EurovisionAPI/eurovision-api">here</a>.
  </p>
</section>