name: Deploy Web App

# Declaring custom variables
env:
  SERVER_FOLDER: server
  CLIENT_FOLDER: webpage
  PROJECT_NAME: EurovisionApi.Server
  PUBLISH_FOLDER: publish

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'server/**'
      - 'webpage/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Install Node.js and Angular
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Install Angular CLI
        run: npm install -g @angular/cli@21

      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install npm packages
        run: npm install
        working-directory: ${{ env.CLIENT_FOLDER }}

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Build
        run: dotnet publish $PROJECT_NAME/$PROJECT_NAME.csproj -c Release -o ./$PUBLISH_FOLDER
        working-directory: ${{ env.SERVER_FOLDER }}

      # Turn off deployed service
      - name: Create empty app_offline.htm file
        run: |
          mkdir -p ./offline
          touch ./offline/app_offline.html

      - name: Turn off deployed service
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_URL }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          local-dir: ./offline/
          server-dir: /wwwroot/
          dangerous-clean-slate: false

      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_URL }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          local-dir: ${{ env.SERVER_FOLDER }}/${{ env.PUBLISH_FOLDER }}/
          server-dir: /wwwroot/
          dangerous-clean-slate: true
